@import 'tailwindcss';

@theme {
  --color-primary: hsl(209, 23%, 22%); /* Dark Blue (Dark Mode Elements) */
  --color-primary-900: hsl(207, 26%, 17%); /* Very Dark Blue (Dark Mode Background) */
  --color-neutral-900: hsl(200, 15%, 8%); /* Very Dark Blue (Light Mode Text) */
  --color-neutral-500: hsl(0, 0%, 52%); /* Dark Gray (Light Mode Input) */
  --color-neutral-50: hsl(0, 0%, 98%); /* Very Light Gray (Light Mode Background) */

  --font-nunito: 'Nunito Sans', sans-serif;
  --font-weight-light: 300;
  --font-weight-semibold: 600;
  --font-weight-extrabold: 800;

  --breakpoint-mobile: 375px;
  --breakpoint-desktop: 1440px;
}

@variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

body {
  font-family: var(--font-nunito);
}
